/* Estilo predeterminado (modo claro) */

:root {
    --color-primary: #333; /* Color primario para texto */
    --color-link: #454545; /* Color para enlaces */
    --background-color: #fff; /* Color de fondo general */
    --font-size-icon: 24px; /* Tamaño de los íconos */
}

/* Estilos para el modo oscuro */
.tema-oscuro {
    --background-color: #333; /* Casi negro */
    --color-primary: #fff; /* Blanco */
}

#cambiar-tema {
    background-color: #fff; /* Fondo claro */
    border: none; /* Sin bordes */
    color: #333; /* Texto oscuro */
    padding: 10px 20px; /* Ajusta el padding según necesites */
    cursor: pointer; /* Cursor tipo mano */
    transition: background-color 0.3s, color 0.3s; /* Suaviza la transición de colores */
    border-radius: 5px;
}

/* Asegúrate de que el contenido no exceda el ancho del viewport */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
    box-sizing: border-box;
    width: 100%;
}

/* Aplica box-sizing a todos los elementos */
*, *::before, *::after {
    box-sizing: inherit;
}

/* Ajusta las imágenes y otros elementos para que no excedan el ancho */
img, video, iframe {
    max-width: 100%;
    height: auto;
}

/* Asegúrate de que los contenedores sean responsivos */
.container {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 15px; /* Añade un padding para evitar que el contenido toque los bordes */
}

body, header, footer, nav {
    transition: background-color 0.3s, color 0.3s;
}

.contact-icons a {
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el botón en el tema oscuro */
.tema-oscuro #cambiar-tema {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto claro */
}

.tema-oscuro header, .tema-oscuro footer, .tema-oscuro nav {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto claro */
}

.tema-oscuro h2 {
    color: #fff;
}

.tema-oscuro p, .tema-oscuro ul {
    color: #fff; /* Blanco o casi blanco */
}

.tema-oscuro .contact-icons a {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Ícono blanco */
}

.tema-oscuro #contact p {
    color: #fff; /* Cambia al color deseado para el modo oscuro */
}

.tema-oscuro #companies a, .tema-oscuro #contact a {
    color: #fff; /* o el color que prefieras para el modo oscuro */
}

body {
    background-color: var(--background-color);
    color: var(--color-primary);
    transition: background-color 0.3s, color 0.3s; /* Suaviza la transición entre temas */
}

body {
    font-family: 'Helvetica', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto; /* Centra el contenido */
    line-height: 1.6;
    max-width: 922px;
    padding: 0 10px; 
    width: 100%;  
}

header, footer {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    max-height: 80px;
    margin-bottom: 20px; /* Ajusta según necesites */
}

header h1 {
    font-size: 24px; /* Reduce el tamaño del título si es necesario */
    margin-top: 0;
    margin-bottom: 10px; /* Ajusta los márgenes para controlar el espacio alrededor del título */
}

header img {
    max-width: 120px;
}

nav {
    background: #fff;
    display: flex;
    justify-content: center;
}

nav a, .nav-link, .nav-item {
    color: #fff;
    font-size: 14px; /* Ajusta el tamaño del texto de la navegación si es necesario */
    padding: 5px 10px;
    text-decoration: none;
}
    
section {
    padding: 20px;
}



h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    padding-top: 5px;
}

ul li a {
    color: #454545;
    text-decoration: none;
}


#bio, .content-wrapper {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea si no hay suficiente espacio */
    justify-content: space-between;
    align-items: flex-start;
}

.bio-content {
    width: 50%;
    min-width: 400px;
    text-align: justify;
}

.companies, .contact {
    width: 400px;
}

.bio-image {
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
    
}

.base-image, .top-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px; /* Asegura que las esquinas redondeadas se apliquen a las imágenes también */
}

.base-image {
    background-color: white;
    opacity: 0.25;
}

.contact-icons a {
    background-color: #fff; /* Fondo de los iconos, cámbialo según tu diseño *//
    border-radius: 4px; /* Esquinas redondeadas */
    color: #000; /* Color del icono, cámbialo según tu diseño */
    display: inline-block;
    height: 20px;
    line-height: 20px; /* Centra el icono verticalmente */
    margin-right: 20px; /* Espaciado entre iconos */
    text-align: center; /* Centra el icono horizontalmente */
    width: 20px;
    font-size: 20px; /* Tamaño del icono */
    margin-top: 15px;
}

#contact .contact-icons a:first-child {
    margin-left: 20px;
}   
#contact .contact-icons a:last-child {
    margin-right: 0; /* Elimina el margen derecho del último icono */
}

#contact p {
    color: #000; /* Color del enlace */
    text-decoration: none; /* Opcional: elimina el subrayado del enlace */
    font-size: 16px; /* Tamaño del texto */
    margin-left: 10px; /* Ajusta este valor según necesites */
}

#companies, #contact {
    flex: 1;
    flex-basis: 48%; /* Asigna una base para el tamaño de cada sección, dejando un poco de espacio entre ellas */
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el ancho total */
}

ul li a:hover, ul li a:focus, .contact-icons a:hover, .contact-icons a:focus {
    color: #555; /* Cambia el color para indicar interacción */
    text-decoration: underline; /* Opcional: añade un subrayado al pasar el mouse o seleccionar */
}

/* Ajustes de responsividad */

@media (max-width: 768px) {
    #bio, .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }

     .bio-image {
        order: -1; /* Coloca la imagen de bio al principio */
        margin-top: 20px;
    }

    /* Restablece cualquier margen, padding o alineación específica para móviles */
    .contact-icons, #contact > p, .bio-content, #companies, #contact {
        margin: 0;
        padding: 0px 10px; /* Añade padding para no pegar el contenido a los bordes */
    }

    #companies ul {
        margin: 0;
        padding: 0;
        text-align: left;
        margin-left: 20px; /* Alinea el h2 y ul con margen a la izquierda */
        
    }

    #contact {
        margin-top: 30px;
    }


    #contact .contact-icons a {
        margin-right: 10px; 
    }

    .contact-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        
    }

    footer {
        padding-top: 60px;
    }
}